body {
    background-color: #DAD9DF;
    background: url(../images/background//cover_original.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 10px 160px;
    margin-right: 10%; 
   font-family: 'Indie Flower', cursive;
   color:#33CCFF; 
}
.image {
    background-image: url(../images/mrsagile_background.jpg); 
    
}

.container {
    margin-top:70px;
}

/* background color: DAD9DF 
   lego color: 33CCFF
*/
#btn_getstarted {
  text-align: left;
  margin-left: 70px ;
  width:300px;
  height:80px;
}

.btn_img {
   margin:0 20px;
}
