body {
    background-color: #DAD9DF;
    background: url(../images/background//cover_original.jpg); 
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 10px 160px;
    margin-right: 10%; 
   font-family: 'Indie Flower', cursive;
   color:#33CCFF; 
}
.image {
    background-image: url(../images/mrsagile_background.jpg); 
    
}

.container {
    margin-top:70px;
}

/* background color: DAD9DF 
   lego color: 33CCFF
*/
/*

.content {
    text-align: center;
}

.nav-link {
    font-weight: 700;
    text-transform: uppercase;
}

a{

    color:black;
} 

.header-note{
    font-size: 12px;
    font-weight: bolder;
    display: block;
    text-align: center;
    position: relative;
}

.header{
    display: block;
    text-align: center;
    font-weight: bold;
}*/
#btn_getstarted {
  margin-left: 40px ;
  width:200px;
    border-radius: 0 70% 70% 0
}
