@font-face {
    font-family: ModernSans-Light;
    src: url("../fonts/ModernSans-Light.otf") format("opentype");
        
    font-family: Trebuchet MS;
    src: url("../fonts/TREBUCBD.ttf") format("opentype");

    font-family: RNS_Camelia;
    src: url("../fonts/RNS_Camelia.otf") format("opentype");

}

body {
  font-family: 'ModernSans-Light', sans-serif;
  font-size: 1rem;
  color:white;
  margin: 0;
}

h1{
    position: relative;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 5px;
/*    opacity: 0.85;*/
    
}

p {
  font-family: 'RNS_Camelia';
  letter-spacing: 1px;
}

h1:hover, h1:focus {
    transform: scale(1.5);
    transform-origin: center;
    transition: transform 250ms ease-in;
}


.img-header {
    background-image: url(../images/beach-sea-coast-water-ocean-horizon-1179715-pxhere.com.jpg);
    background-position:bottom center;
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 500px;

}

@media (min-width:900px) {
    .img-header {     height:650px;
    }
}

.main-text{
    text-align: center;
    padding-top:5%;
}


.btn-main {
    font-size: 1rem;
    font-weight: 400;
    border-radius:20px;
    background-color: #fff;
    color:#225576;
    font-weight: 700;
    text-align: left;
    padding:10px 15px;
    text-decoration: none;
    display: inline-block;
    margin-top:50px;

    font-family: 'Trebuchet MS',arial;
    
}

.btn-main:hover, .btn-main:focus {
    background-color: #225576;
    color:#fff;
    transition: all 250ms ease-in;
}
.page {
    width: 90%;
    margin: 0 auto;
}
